//math var
$the-gold: 0.618;


//sizes 
$nav-height: 80px;
$home-title: 20px;

// color
$vue-color: #42b983;
$vue-under-color: #32475B;
$react-color: #5ED3F3;
$warn-color: #d4bb29;


$wood-color: #CA7A2C;
$deep-wood-color: #A15D19;
$link-color: #2c3e50;
$text-color-indeep: #405B55;
$text-color-inbright: #ED784A;