//math var
$the-gold: 0.618;

//sizes
$nav-height: 80px;
$home-title: 20px;

// color
$vue-color: #42b983;
$vue-under-color: #32475b;
$react-color: #5ed3f3;
$warn-color: #d4bb29;

$wood-color: #ca7a2c;
$deep-wood-color: #a15d19;
$link-color: #2c3e50;
$text-color-indeep: #2e433e;
$text-color-inbright: #ed784a;
$card-outside: #9e6003;
$modal-title: #523201;
$modal-text-color: #141e28;
